@import url('https://fonts.googleapis.com/css?family=IstokWeb');
@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel-card {
    width: 120px;
    height: 120px;
    border-radius: 14px;
    overflow: hidden;
    background-color: white; 

  }
  
  .carousel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  